input, textarea, button {
    font-family: inherit;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #eee;
    padding: 0.5rem;
    background: #fafafa;
    box-sizing: border-box;
}

button {
    border: none;
    background: linear-gradient(to right, #fc4c02, #fc7202);
    color: #fff;
    cursor: pointer;
    transition: background 0.2s, transform 0.1s;
}
button:active {
    background: #f95e5e;
}
